.container {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    justify-content: center;
    align-items: center;
}

.table thead th {
    background-color: #343a40;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
    padding: 0.75rem;
    border-color: #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn-success {
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 16px;
    transition: 0.2s ease;
}

.btn-success:hover {
    background-color: #198754;
    color: #fff;
}
